
body {
	font:14px 맑은 고딕, arial, tahoma,Helvetica,AppleGothic,Sans-serif, consolas;
	margin: 0;
	padding: 0;
	line-height : 30px;
	/* 브라우저 기본값이 각기 다를 수 있으므로 body 요소의 여백 및 패딩을 0으로 하는 것이 좋습니다. */
	text-align: center;
	/* IE 5* 브라우저에서 컨테이너를 가운데 배치합니다. 그런 다음 텍스트를 #container 선택기에서 기본값인 왼쪽 정렬로 설정합니다. */
	color: black;
}

dl {
	padding-left:0px;
}

dt {
	/* padding-top: 10px; */
	/* font-size: 14px; */
	margin-left: 0px;
}

dd {
	margin-left:0px;
	margin-bottom:6px;
	font-size: 14px;
	padding-left: 0px;
}

a:link,a:visited {
	color: red
}

.twoColFixLt #container {
	background: #FFFFFF;
	margin: 0 auto; /* 자동 여백(폭에 따라)은 페이지를 가운데로 정렬합니다. */
	text-align: left; /* 텍스트 정렬을 무시하고 body 요소 가운데에 정렬합니다. */
}

.twoColFixLt #mainContent {
	margin: 0 0 0 0px;
	/* 이 div 요소의 왼쪽 여백으로 페이지 왼쪽에 열이 만들어집니다. 이 열 공간은 sidebar1 div에 포함되는 내용의 양에 관계 없이 유지됩니다. #sidebar1의 내용이 끝날 때 #sidebar1 공간을 #mainContent div의 텍스트로 채우려면 이 여백을 제거하면 됩니다. */
	padding: 50px;
}

#apidesc {
	font-size : 13px;
	color: black;
	 margin-top: 15px;
    line-height: 23px;
}

#ptable td.row .standardnum {display:none}

#ptable td.row .standardline {border-left:none}

.row-hover      { background:#F7F7F7; }

.standardlighter .alt {
border-top: 1px solid #EEE;
border-bottom: 1px solid #EEE;
background-color: #F4F8FC;
}

table.standardLighter {
	background-color: #FFFFFF;
	width : 100%;
}

table.standardLighter th {
	text-align : left;
	padding-left : 15px;
	height : 25px;
}

table.standardLighter th span {
	color: black;
}

table.standardLighter td span {
	display : block;
	margin : 5px 0;
	line-height : 20px;
}

.standardLighter {
	border: 1px solid #b2b2b2;
}

#ptable .standardLighter span {
	font:14px 맑은 고딕,arial, tahoma,Helvetica,AppleGothic,Sans-serif;
}

.standardLighter {
	margin: 10px 0;
}

#sumtitle .title {
	padding-top: 0px;
}

#mainContent h1 {
	color: #3164b2;
	font-size: 20px;
	font-weight: bolder;
	margin-bottom: 10px;
	padding-bottom: 5px;
	padding-top: 60px;
	margin-top: 50px;
	display:none ;
}

#mainContent h2 {
	color: black;
	font-size: 17px;
	font-weight: bolder;
}

#mainContent a {
	margin-right: 20px;
	padding-left: 0px;
	position: relative;
	/* left: 15px; */
	/* top: 0px; */
	color:  #009999;
	text-decoration: none;
	font: 16px arial;
	font-weight: normal;
	line-height: 25px;
}

#topbar {
	width: 100%;
	top: 0px;
	z-index: 100;
	background-color: #f5f8f9;
	 border: 1px solid #c3dcf0;
	 padding:20px;
}

#topbar a {
	font-size: 15px;
	display: inline;
	font-weight: bold;
	color:#4a27ae;

}

#date {
	display: block;
	color: #1682d8;
	margin-right: 40px;
	font-size: 13px;
	width: 100%;
	font-weight:bold;
}

#mainContent a:hover {
	text-decoration: underline;
}

#defaultoptionsum a {
	position: relative;
	left: 0px;
	top: 0px;
	color: #009999;
}

#apisum a {
	position: relative;
	left: 0px;
	top: 0px;
	color: #009999;
}

#apisum a:hover {text-decoration:underline; font-weight:normal;color: #009999;}


#summary {
	/* padding-bottom: 10px; */
}

#summary h2 {
	border: 1px none #b2b2b2;
	margin-top : 20px;
	padding: 5px 5px 5px 0px;
	background-color: #ffffff;
	font-size: 17px;
}
#detail h2 {
	border: 1px none #b2b2b2;
	margin-top : 20px;
	padding: 5px 5px 5px 20px;
	background-color: #ffffff;
	font-size: 25px;
}

#defaultoptions {
	/*border: #999 1px solid;*/
}

td.header1, td.header2, td.header3 {
	font-weight : bold;
	font-size : 12px !important;
	color: black;
}

#dtable {
	width: 100%;
	border: #999 1px solid;
	padding: 3px;
}

/*default options */
.dname {
	position: relative;
	left: 17px;
	top: 0px;
	color: #6600cc;
}

/*default options row*/
#dtable .row {
	position: relative;
	left: 17px;
	top: 0px;
	color: #6600cc;
}

/*name*/
#dtable .header1 {
	width: 25%;
	color: black;
	font-size: 14px;
	padding-left: 20px;
}

/*type*/
#dtable .header2 {
	width: 25%;
	color: #1e90e4;
	font-size: 14px;
	padding-left: 20px;
}

/*설명*/
#dtable .header3 {
	width: 25%;
	color: #1e90e4;
	font-size: 14px;
	padding-left: 20px;
}

/*api 파라미터 테이블   -- 아래 */ /*api parameter table row*/
#ptable {
	border: #999 1px solid;
	margin-bottom: 10px;
	padding: 5px;
	margin-left: 0;
	margin-right: 5px;
}

#ptable .row {
	padding-left: 20px;
	padding-bottom: 10px;
}

/* 필수 여부 표시 */
.necessary {
	padding-left: 20px;
	font-weight: bold;
	font-size: 12px;
}

.unnecessary {
	padding-left: 20px;
	font-style: oblique;
}

/*api parameter talbe header*/ /*name*/
#ptable .header1 {
	width: 100px;
	color: #24478f;
	font-size: 14px;
	padding-left: 20px;
}

/*type*/
#ptable .header2 {
	width: 100px;
	color: #24478f;
	font-size: 14px;
	padding-left: 20px;
}

/*설명*/
#ptable .header3 {
	color: #24478f;
	font-size: 14px;
	padding-left: 20px;
}

#ptable .row {
	word-wrap : break-word;
	font-size : 14px;
	line-height: 30px;
}

xmp {
	font-size : 14px;
	/* font-weight: bolder; */
	font: consolas, Sans-serif,tahoma,Helvetica,AppleGothic,Sans-serif;
	/* background-color: #F4F4F4; */
	border-style: none;
}

caption{
	text-align : left;
	font-size : 14px;
	/* text-decoration : underline; */
	margin-bottom : 5px;
	color: #24478f;
	font-weight: bold;
}

.caption_sample {
	padding-left: 0;
	color: #24478f;
	text-align : left;
	font-size : 14px;
	font-weight: bold;
}

caption_sample + .pdesc {
	background-color: #F4F4F4;
	padding:15px;
}

/* api 상세의 name*/
#apidetail {
	padding-left: 0px;
}


.apiname {
	color: #6600cc;
	font-size:17px;
	font-weight: bold;
	line-height: 23px;
	padding-left: 0px;
	margin:20px 0 10px 0;
	/* padding-left : 35px; */
}


/* api 상세의 name*/
.apitable {
	width: 500px;
	color: #039;
	font-style: oblique;
}

/*api 상세의 param 없음 */
.pnone {
	color: gray;
	font-style: italic;
}

.pdesc xmp {
	margin-bottom : 30px;
	border : 1px none #000;
	/* padding : 15px */
}

/* event table */
.pdesc {
	margin-bottom:6px;
	/* padding-left: 0px; */
	margin-left: 0;
	font-size: 14px;
	/* line-height:23px; */
}

.edesc {
	margin-bottom:6px;
	padding-left: 0px;
	margin-left: 30px;
}

#eventdetail {
	padding-left: 0px;
	
}

#etable {
	width: 100%;
	border: #999 1px solid;
	margin-top: 10px;
	padding: 3px;
}

#etable .row {
	padding-left: 20px;
	font-size: 12px;
}

/*event 테이블의 name */
.ename {
	color: #6600cc;
	font-family: consolas, arial;
	font-weight: bold;
	margin-right: 5px;
	font-size: 16px;
	padding-left: 0px;
	/*padding-left : 35px;*/
}

.enone {
	color: gray;
	font-style: italic;
}

#etable .header1 {
	width: 25%;
	color: #1e90e4;
	font-size: 11px;
	padding-left: 20px;
}

/*type*/
#etable .header2 {
	width: 25%;
	color: #1e90e4;
	font-size: 11px;
	padding-left: 20px;
}

/*설명*/
#etable .header3 {
	width: 25%;
	color: #1e90e4;
	font-size: 11px;
	padding-left: 20px;
}

/* title uiplugin */
.title {
	color: black;
}

/*category */
h2 {
	
}

/*summary*/
#apisum {
	padding-left: 0px;
}

#apisum dl {
	list-style: circle;
}

.apisum_title {
	margin-right: 5px;
	color: #6600cc;
	text-decoration: none;
	padding-left:0px;
}

.apisum_title a: hover {
	color: #009999;
	text-decoration: none;
}

.apisum_desc {
	font-size: 13px;
	line-height:23px;
	margin-bottom:20px;
	margin-left:30px;
	/* padding-left: 150px; */
	/* margin-top: -15px; */
	/*	display: none; */
}

#eventsum {
	padding-left: 0px;
}

#eventsum dl {
	list-style: circle;
}

.eventsum_title {
	color: #009999;
	font-style: none;
	font-weight: bolder;
	margin-right: 5px;
}

.eventsum_desc {
	/*font-style: oblique;*/
	
	/* padding-left: 150px; */
	/* margin-top: -15px; */
	margin-left:30px;
	/* display: none; */
}

/* default options summary*/
#defaultoptionsum {
	padding-left: 0px;
}

#childoptionsum {
	padding-left: 0px;
	margin-top : -10px;
	margin-bottom : 20px;
}

h3 {
	margin : 10px 0;
	display : block;
	border-bottom: 1px dotted #B2B2B2;
	padding: 3px 3px 3px 20px;
	background-color: #F4F8E4;
	font-size : 14px;
	color : #4844AD;
}

.dopsum_title {
	color: #009999;
	font-style: none;
	font-weight: bolder;
	margin-right: 5px;
}

.dopsum_desc {
	/* padding-left: 150px; */
	/* margin-top: -15px; */
	margin-left:30px;
	/* display: none; */
}

.dopcategory {
	font-size: 18px;
	font-weight: bolder;
}

.fltrt {
	/* 이 클래스는 페이지 오른쪽에 요소를 부동화하는 데 사용됩니다. 부동화된 요소는 페이지에서 옆에 배치될 요소의 앞에 와야 합니다. */
	float: right;
	margin-left: 8px;
}

.fltlft { /* 이 클래스는 페이지 왼쪽에 요소를 부동화하는 데 사용됩니다. */
	float: left;
	margin-right: 8px;
}

.clearfloat {
	/* 이 클래스는 div 또는 분할 요소에 배치되어야 하며, 부동 요소를 완전히 포함해야 하는 컨테이너를 닫기 전 마지막 요소가 되어야 합니다. */
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}

.sum {
	border: #CCC solid 1px;
}


#copyright {
	text-align: center;
}

#apiname h1 {
	color: #3164b2;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 10p;
	border-bottom: #999 2px solid;
	padding-bottom: 5px;
	margin-top: 50px;
}
